body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
}

main {
  box-sizing: border-box;
  margin: 0 auto;
  max-width: min(800px, 100%);
  overflow-x: hidden;
  padding: 24px;
}

h1 {
  text-align: center;
}

code {
  background-color: #333;
  border-radius: 4px;
  color: #fff;
  display: inline-block;
  margin: 2px;
  overflow-wrap: anywhere;
  padding: 2px 4px;
}

input[type="text"] {
  width: 100%;
  padding: 8px;
  margin: 8px 0;
  box-sizing: border-box;
}
