body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
}

main {
  box-sizing: border-box;
  max-width: 800px;
  width: 100vw;
  margin: 0 auto;
  padding: 24px;
}

h1 {
  text-align: center;
}

code {
  background-color: #333;
  color: #fff;
  padding: 2px 8px;
}

input[type="text"] {
  width: 100%;
  padding: 8px;
  margin: 8px 0;
  box-sizing: border-box;
}
